# Binários
bin/
*.o
*.out
compilador
analisador

# Saídas
output/tokens/*
output/symbols/*
output/code/*
output/ast/*

# IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db
parser.dSYM/

# Mantenha diretórios vazios
!output/tokens/.gitkeep
!output/symbols/.gitkeep
!output/code/.gitkeep
!output/ast/.gitkeep